sudo: false
dist: trusty
language: node_js
node_js:
- '14'
env:
  matrix:
  - SAUCE=true
addons:
  chrome: stable
  firefox: latest
  apt:
    packages:
    - python3-pip
script:
- npm test
- npm run browser-test
- npm run lint
after_sucess:
- cat coverage/lcov.info | ./node_modules/.bin/coveralls
git:
  depth: 1
  submodules: false
cache:
  directories:
  - node_modules
before_deploy:
- npm run build-stage
deploy:
  skip_cleanup: true
  provider: script
  script: ci/travis_deploy.sh
  on:
    branch: master
